.card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cardArea {
  display: flex;
  align-items: center;
  /* grid-template-columns: 2fr;       */
  width: 250px;
  margin: 10px 10px 10px 10px;
  gap: 34px;
  padding: 10px;
  border: 0.5px solid var(--color-white) ;
  border-radius: 20px ;
}

h1 {
  color: var(--color-white);
}
h3 {
  color: var(--color-white);
}
