.card {
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  
}

.cardArea {
  display: flex;
  align-items: center;
   
  width: 250px;
  margin: 10px 0 10px 0;
  gap: 50px;
  padding: 10px;
  border: 0.5px solid var(--color-white) ;
  border-radius: 20px ;
}

h1 {
  color: var(--color-white);
}
h3 {
  color: var(--color-white);
}
