.areaAboutMe {
  color: var(--color-white);
   padding: .625rem; 
  
  text-align: center;
  display: flex;
  text-align: start;
  
  width: 100%;
  gap: 18.75rem;
  height: 9.375rem;
  top: 32.4375rem;
  left: 17rem;
  gap: 0px;
  opacity: 0px;
  margin-top: 1.0625rem;
  margin-left: 17rem;
}

.txt {
  text-align: justify;
}
