:root {
     --font-primary: 'Montserrat', sans-serif;
     --font-secondary: 'Inter', sans-serif;


     --color-white : #ffffff;
     --color-black : #000000; 
     --color-button : cornflowerblue; 
     
     
     font-family: 'Inter''sans-serif'
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


    


body{
     background-color: var(--color-black);
     margin: 10px 10% 10px 10%;   
     max-width: 900px;  
     font-family: 'Inter', sans-serif;
}


/* h1{
width: 13.1875rem;
height: 3rem;
top: 32.4375rem;
left: 17rem;
gap: 0px;
opacity: 0px;

} */

.btnGlobal{
     background-color:var(--color-button);  
     color: var(--color-white);       
     width: 100px;
     height: 35px;
     border-radius: 15px; 
     padding-top: 10px;  
     padding-bottom: 10px;  
}

.nome{
     color: var(--color-button);     
}

.letter.gr{
     font-size: 20px;
}