.container-section{
      
     padding:  10px 10px;
     margin-top: .625rem ;
     text-align: center; 
     display: grid;
     grid-template-columns: 1fr 1fr;
     height: 400px;
     text-align: start;
     color: var(--color-black);
     justify-content: start;    
     gap: 5px;
     width: 100%;
     max-width: 66.25rem;
     justify-content: space-between;margin-top: 9.625rem;
     margin-left: 17rem;
     border: .0625rem var(--color-black) solid;
     border-radius: .75rem;
}

p{
     color: var(--color-white);
}

.btnGlobal.btndown{
     margin-bottom: -1000px;
}
.alinhar{
     padding: 10px;
     padding-right: 5px;
     display: grid;
     grid-template-rows: 1fr 1fr 1fr 1fr;
     align-items: start;
     height: 300px;
     margin-right: 100px;
}
.alinhar.last{
     margin-top: 20px;     
}
.alinharInside{
     padding: 10px;
}

.alinhar.img{
     padding-top: 20px;
}

