.cabecalho{
     color: var(--color-white);    
     
     display: flex;     
     align-items: center;
     justify-content: center;    
          
     column-gap: 130px;
     height: 2.4375rem;
     width: 56.1688rem;
     margin-top: 1.0625rem;
     margin-left: 17rem;
     gap: 14.3125rem;
}
.container-header{
    display: flex;
     max-width: 56.1688rem; 
    width: 100%;
    justify-content: space-between; 
}
.container-nav{
    display: flex;
    align-items: center;
    gap: 10.25rem;
}
.centro{     
    text-align: center;              
}